/* @font-face {
  font-family: Montserrat;
  src: url("../Montserrat-Regular.ttf");
} */

body {
  /* font-family: Montserrat, Helvetica, sans-serif; */
  margin: 0;
  padding: 0;
}

main {
  width: 250px;
  margin: 50px auto;
}

#bg-weather { margin-left: -30px; }
/* #tempDisplay:after { content: " °" } */
.title.capitalize { text-transform: capitalize; }
