@font-face {
  font-family: Montserrat;
  src: url("../Montserrat-Regular.ttf");
}

body {
  background: url('../img/tails.png');
  font-family: Montserrat, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  width: 250px;
  margin: 50px auto;
}

#bg-weather {
  width: 150px;
}

.title.capitalize {
  text-transform: capitalize;
}
